*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka',sans-serif;
  background-color: #fffffe;
}

.container {
  width: 75%;
  margin: auto;
  border: 1px solid black;
}

.title-description h1 {
  text-align: center;
  font-size: 40px ;
  font-weight: bold;
  color: #e53170;
  padding: 30px;
}

.title-description p {
  padding-bottom: 50px;
  text-align: justify;
}

.title-description span {
  text-align: center;
  display: block;

}

.photo-cards .row {
  margin-bottom: 50px;
  width: 100;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row .card-box {
  float: left;
  background-color: black;
  color: #fffffe;
  box-shadow: 0 0 5px 5px lightgray;
  height: 100px;
  width: calc(100% / 3);
}

/* .row .card-box.center {
  margin: 0 30px;
} */

.card-box img {
  height: 100%;
  float: left;
}

.card-box .text-card {
  float: left;
  padding-left: 20px;
}

.text-card h3, .text-card p {
  padding-bottom: 5px;
}

.text-card h3 {
  font-weight: bold;
}

.text-card p.mail {
  color:#16c4e9;
}


